<?php
return array(
    'zf-oauth2' => array(
        'allow_implicit' => true,
    ),
    'zf-mvc-auth' => array(
        'authentication' => array(
            'adapters' => array(),
        ),
    ),
);
